/*
Theme Name: Byrne-Systems
Theme URI: http://www.byrne-systems.com
Description: Web & Software Design & Development
Version: 0.9
Author: Justin D. Byrne
Author URI: http://www.byrne-sytems.com
License: N/A
License URI: N/A
Text Domain: Byrne-Systems
*/


/* HTML Elements */
* {                                                         /* Apply: Border-box on 'all' elements */
    -khtml-box-sizing:border-box;                           /* -khtml:Konqueror */
      -moz-box-sizing:border-box;                           /* -moz:Mozilla */
       -ms-box-sizing:border-box;                           /* -ms:Microsoft */
        -o-box-sizing:border-box;                           /* -o:Opera */
           box-sizing:border-box;                           /* CSS3 */
}

html { font-size:100%; }                                    /* Font-size */

body {
    background-color:#35A8BF;                               /* Background-color */
    margin:0;                                               /* Margin */
    padding:0;                                              /* Padding */
}

div.row {
    text-align:center;                                      /* Text-align */

    /* CSS3: transitions */
    -webkit-transition:all 0.4s ease-out;                   /* -webkit: Safari, Chrome */
       -moz-transition:all 0.4s ease-out;                   /* -moz: Mozilla */
        -ms-transition:all 0.4s ease-out;                   /* -ms: Microsoft */
         -o-transition:all 0.4s ease-out;                   /* -o: Opera */
            transition:all 0.4s ease-out;                   /* CSS3 */
}

div[class^="c"] {
    padding:1rem 1em;                                       /* Padding */
    margin-top:0.5rem;                                      /* Margin-top */
    background:#FCFCFC;                                     /* Background */

    /* CSS3: box-shadow; */
    -webkit-box-shadow: 0em 0em 0.75em #000;                /* -webkit: Safari, Chrome */
     -khtml-box-shadow: 0em 0em 0.75em #000;                /* -khtml: Konqueror */
       -moz-box-shadow: 0em 0em 0.75em #000;                /* -moz: Mozilla */
        -ms-box-shadow: 0em 0em 0.75em #000;                /* -ms: Microsoft */
         -o-box-shadow: 0em 0em 0.75em #000;                /* -o: Opera */
            box-shadow: 0em 0em 0.75em #000;                /* CSS3 */
}

/* textEffects styles */
canvas#text-arranger-cvs { position:relative; }             /* Position */

/* Controls */
div.controls { height:526px; }                              /* Height */

div#text-arranger-control-panel {
    display:inline-block;                                   /* Display */
    position:relative;                                      /* Position */
    padding:10px;                                           /* Padding */
    left:10px;                                              /* Left */
    bottom:0;                                               /* Bottom */
    text-align:left;                                        /* Text-Align */
}

div#text-arranger-control-panel ol {
    list-style-type:none;                                   /* List-style-type */

    /* Columns */
    -webkit-column-count:4;                                 /* -webkit: Safari, Chrome */
    -webkit-column-gap:1em;                                 /* -webkit: Safari, Chrome */
       -moz-column-count:4;                                 /* -moz: Mozilla */
       -moz-column-gap:1em;                                 /* -moz: Mozilla */
         -o-column-count:4;                                 /* -o: Opera */
         -o-column-gap:1em;                                 /* -o: Opera */
            column-count:4;                                 /* CSS3 */
            column-gap:1em;                                 /* CSS3 */
}